@import "~react-image-gallery/styles/scss/image-gallery.scss";

//pallete colors
$teal: #7eb5a6;
$gold: #d3ab61;
$brown: #5a4818;
$beige: #e8d0b3;
$text: rgb(26, 26, 26);
$greybeige: #f5f2ef;

$darkteal: darken($teal, 35%);

.main {
  min-height: 100vh;
}

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.main-image {
  background-image: url("/assets/main01.jpg");
  background-size: cover;
  background-position: center center;
  height: 30vh;
  color: #fff;
  font-size: 1.5rem;
}

.apart-container,
.tour-container {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    .tour-detail {
      background-color: $teal;
      transition: 0.5s;
    }
  }
}

.apart-image {
  position: relative;
  height: 10rem;
  img {
    object-fit: cover;
  }
}

.apart-detail {
  background-color: $greybeige;
  padding: 1rem;
}

.apart-title {
  color: $brown;
  font-size: 1.5rem;
}

.apart-numb {
  position: absolute;
  font-size: 6rem;
  font-weight: lighter;
  color: #d6cfc8;
  line-height: 0;
}

.apart-building {
  color: $gold;
}

.apart-description {
  color: $brown;
}

.apart-btn {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: $gold;
  color: white;
  margin: 0.5rem 0 0 0;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: lighten($gold, 5%);
    transition: 0.5s;
  }
}

.apart-col {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.tour-image {
  position: relative;
  height: 8rem;
  img {
    object-fit: cover;
  }
}

.tour-detail {
  padding: 0;
}

.tour-title {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  bottom: 0;
  margin: 0.5rem;
}

.tour-btn {
  margin-top: 0;
  background-color: $teal;
  &:hover {
    background-color: darken($teal, 20%);
  }
}

.tour-col {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: lighten(black, 90%);
}

.tour-sect-title {
  color: $teal;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: lighter;
}

.gen-margin {
  margin: 0 2rem;
}

.gen-mt {
  margin-top: 2rem;
}

.gen-padding {
  padding: 0 2rem;
}

.apart-main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 15rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.apart-main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .title {
    font-size: 1.5em;
    color: white;
    padding: 10px 20px;
    border-bottom: 2px solid white;
  }
  .description {
    padding: 10px 0;
    color: $gold;
    max-width: 80%;
    text-align: center;
  }
}

.cover-dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.apart-slider {
  padding: 0 2rem;
}

.apart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $gold;
  font-size: 1.1em;
  margin-bottom: 0.5rem;
  i {
    margin-right: 5px;
  }
  .divider {
    border-top: 1px solid $gold;
    width: 100%;
    margin: 2px 0 0 10px;
  }
}

.tour-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $brown;
  font-size: 1.1em;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  i {
    margin-right: 5px;
  }
  .divider {
    border-top: 1px solid $darkteal;
    width: 100%;
    margin: 2px 0 0 10px;
  }
}

.apart-text {
  position: relative;
  color: white;
  background-color: $gold;
  padding: 2rem;
  margin: -2rem 2rem 2rem 2rem;
}

.check-in {
  background-color: $teal;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.1em;
  i {
    margin-right: 5px;
  }
  .description {
    font-size: 0.9em;
    text-align: end;
    font-weight: 200;
  }
}

.spaces {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.space {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $brown;
  color: white;
  min-width: 10rem;
  margin-right: 1rem;
  flex-shrink: 0;
  &:last-child {
    margin-right: 0;
  }
  i,
  .subtitle {
    color: $gold;
  }
}

.amenities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item {
    margin: 0 10px 10px 0;
    color: $brown;
  }
  i {
    color: rgba(0, 0, 0, 0.1);
    margin-left: -3px;
    margin-right: 3px;
  }
}

.book-apt {
  background-color: $gold;
  padding: 2rem;
  font-size: 1.2em;
  text-align: center;
  color: $brown;
  font-weight: 200;
}

.book-btn {
  background-color: #ff5a5f;
  color: white;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0 0;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: darken(#ff5a5f, 5%);
    transition: 0.5s;
    margin: 0.5rem 0.5rem 0 0.5rem;
  }
  img {
    height: 2rem;
    margin-top: 5px;
  }
}

.book-btn-tour {
  background-color: #6dac39;
  &:hover {
    background-color: darken(#6dac39, 5%);
  }
}

.footer {
  background-color: $brown;
  padding: 0.7rem;
  font-size: 0.7em;
  color: $gold;
  text-align: center;
  a:hover {
    color: lighten($gold, 10%);
    cursor: pointer;
  }
}

.grey-backg {
  background-color: #f5f2ef;
  padding: 1rem 0;
}

.tour-main-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 15rem;
  background-color: $teal;
}

.tour-backg {
  background-color: #e6e6e6;
}

.tour-slider {
  position: relative;
  margin: -2rem 2rem 0rem 2rem;
}

.tour-main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .title {
    font-size: 1.5em;
    color: $darkteal;
    font-weight: 700;
    margin: 0.8rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
  }
}

.extra-costs {
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 10px 0;
    color: $darkteal;
  }
  i {
    color: rgba(0, 0, 0, 0.1);
    margin-left: -3px;
    margin-right: 3px;
  }
  .value {
    background-color: $teal;
    color: white;
    padding: 0.2rem 0.3rem;
    margin-left: 5px;
    white-space: nowrap;
  }
}

.transportation {
  background-color: $brown;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.1em;
  i {
    margin-right: 5px;
  }
}
.transp-description {
  background-color: lighten($brown, 10%);
  padding: 1rem 2rem;
  color: white;
  .option {
    color: $gold;
    font-size: 0.8em;
    padding-top: 0.5rem;
  }
}

.tour-main-details {
  padding: 1rem 20px;
  color: $darkteal;
  .time {
    background-color: $teal;
    width: fit-content;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 1.3em;
    margin-bottom: 0.3rem;
  }
  .meet-point {
    font-size: 0.8em;
    i {
      margin-right: 5px;
    }
  }
}

.changes {
  font-size: 0.8em;
  color: $teal;
}

//timeline adapted from https://codepen.io/TajShireen/pen/JjGvVzg
ul,
li {
  list-style: none;
  padding: 0;
}

.extra-line {
  margin-left: 1rem;
  border-left: 6px solid lighten($teal, 10%);
}

.timeline {
  margin: 0;
  li {
    padding-bottom: 1.5rem;
    border-left: 6px solid lighten($teal, 10%);
    position: relative;
    padding-left: 20px;
    margin-left: 1rem;
    &:last-child {
      padding-bottom: 0;
    }
    &:before {
      content: "";
      width: 14px;
      height: 14px;
      background-color: $teal;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 2px;
    }
    h4 {
      margin: 0;
      background-color: $teal;
      width: fit-content;
      padding: 0.1rem 0.3rem;
      color: $darkteal;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
    h5 {
      margin: 0;
      font-size: 1rem;
      color: $brown;
    }
    p {
      margin: 0;
      padding: 0.5rem 0;
      font-size: 0.8rem;
      color: $darkteal;
    }
  }
}
